@charset "UTF-8"; 
body{
    background-color: #93D94E;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #223240;
}

h1#principal {
    text-align: center;
    background-color:#223240 ;
    color: white;
}

h2 {
    color: #347355;
}

.basico {
    color: yellow;
}

.intermediario {
    color: rgb(255, 166, 0);
}

.avancado{
    color: rgb(255, 81, 0);
}

.destaque{
    background-color: aqua;
}