@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #071735;
    width: 600px;
    padding: 10px;
    margin: auto;
}

body {
    background-image: linear-gradient(to bottom, #217373, #173540);
}

p {
    text-align: justify;
}

h1 {
    color: #161F30 ;
    text-align: center;
    text-shadow: 2px 1px 2px #217373;
}

h2 {
    color: #84B026;
}